{{ partial "head.html" . }}
<body>
  {{ if .Site.Params.mainMenu }}
    {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
  {{ end }}
  <main class="container">
    <h1>
      {{ .Title }}
    </h1>
    <h2>{{.Description}}</h2>
    <section>
      {{ .Content }}
    </section>

    {{ range .Site.Sections }}
    <section>
      <h2>{{.Title}}</h2>
      <p>{{.Description}}</p>
      <a href="{{.Permalink}}">{{.LinkTitle}}</a>
      <div class="items">
        {{ range .Data.Pages }}
          <a class="item" href="{{.Permalink}}">
            <h3>
              {{.Title}}
            </h3>
            <p>
              {{ if .Params.event }}
                {{ .Params.event }} –
              {{ end }}
              {{ if .Params.location }}
                {{ .Params.location }} –
              {{ end }}
              {{ if .Params.showDate }}
              {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}}
              {{ end }}
              {{ if .Params.speakers }}
                – by {{ .Params.speakers }}
              {{ end }}

            </p>
          </a>
        {{ end }}
      </div>
    </section>
    {{ end }}
  </main>
</body>
