<style media="screen">
footer.snowy{
  margin-top: 1vh;
  height: 60vh;
  background-color: #3472c9;
  position: relative;
  border-bottom: 6vh #fff solid;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
}
.floor_snow_bottom{
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -2.3vh;
  border-width: 2.3vh 0 0 100vw;
  border-color: transparent transparent transparent #f7ece6;
  bottom:0;
  position: relative;
}
.floor_sky_top{
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: 0;
  border-width: 0 0 2.3vh 100vw;
  border-color: transparent transparent transparent #f7ece6;
  top:0;
  position: absolute;
}
.floor_snow_2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20vh 0 0 100vw;
  border-color: transparent transparent transparent #3C85EA;
  position: absolute;
  bottom:0;
}
.floor_snow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.3vh 0 0 100vw;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  bottom:0;
}
.floor_snow_top{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1vh 0 0 100vw;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  bottom:0;
}
.snowman{
  position: absolute;
  right:10vh;
  bottom:0vh;
  font-size: 10vh;
  line-height: 8vh;
}

</style>

<footer class="snowy">
  <div class="floor_sky_top">
  </div>
  <div class="floor_snow_2">
  </div>
  <div class="floor_snow">
  </div>

  <div class="snowman">
    ⛄️
  </div>
  <div class="floor_snow_top">
  </div>
</footer>
<div class="floor_snow_bottom">
</div>
