{{ partial "head.html" . }}
<body>
  {{ if .Site.Params.mainMenu }}
    {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
  {{ end }}
  <main class="container">
    <h1>
      {{ .Title }}
    </h1>
    <h2>{{.Description}}</h2>
    <section>
      {{ .Content }}
    </section>

    {{ range .Site.Sections }}
    <section>
      <h2>{{.Title}}</h2>
      <h3>{{.Description}}</h3>
      <div class="items">
        {{ range first 6 .Data.Pages }}

        <div class="item">
          {{ if .Params.tweet_id }}
          {{/* From Twitter */}}
           <p> {{ .Title  | markdownify }}</p>
            <small>
              From <a href="https://twitter.com/zufrieden/status/{{ .Params.id }}">@zufrieden</a> —
                {{ if .Date }}
                  {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}}
                {{ end }}
            </small>
          {{else}}
            <a href="{{.Permalink}}">
              <h3>
                {{.Title}}
              </h3>
            </a>
            <h4>
              {{ if .Description }}
                {{ .Description }}
              {{ end }}
              {{ if .Params.event }}
                {{ .Params.event }} –
              {{ end }}
              {{ if .Params.location }}
                {{ .Params.location }}
              {{ end }}
            </h4>
            <p>
              {{ if .Params.showDate }}
                {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}}
              {{ end }}
              {{ if .Params.speakers }}
              – by {{ .Params.speakers }}
              {{ end }}
            </p>
              {{ if .Params.link }}
                <small>🌍 <a href="{{ .Params.link }}">{{ .Params.link | truncate 80 }}</a></small>
              {{ end }}
            </div>
             
          {{ end }}
          

        {{ end }}
        <a href="{{.Permalink}}" class="item">{{.LinkTitle}}</a>
      </div>
    </section>
    {{ end }}
    
    <section class="homepage-photos slider-container container-full">
      <div class="slider">
        {{ $name := .Site.Params.galleryFolder | default "images/"}}
        {{ $path := "making-pictures/" }}
        {{ $content := "/content/" }}
        {{ $src := (print $path $name) }}
    
        {{ $folder := (print $content $path $name) }}
    
        {{ $files := readDir $folder }}
    
        {{ range last 8 $files }}
        <div class="slider-item photo">
          <img src="{{ $src | absURL }}{{.Name }}" loading="lazy"/>
        </div>
        {{ end }}
      </div>
    </section>
    
  </main>
  {{ partial "footer.html" . }}
</body>
{{ partial "foot.html" }}