.post{
	h1.title, .entry-content, .meta{
		margin: 10px auto;
		width: 580px;
		@media screen and (max-width: 800px){
			margin: 0;
			width: auto;
		}
	}
	.meta{
		line-height: 2;
		font-size: 0.9em;
		color: $color-gray02;
		margin-top: 15px;
		a{
			@include link-colors($color-gray02, $color-gray01);
			@include transition(0.3s);
		}
		.date, .tags, .comments{
			padding-left: 30px;
			position: relative;
			@include inline-block;
			margin-right: 30px;
			&:before{
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		.date:before{content: "\f073";}
		.tags:before{content: "\f02c";}
		.comments:before{content: "\f075";}
	}
}