/* color sheme https://coolors.co/f7eae3-64b78e-59a37e-302f4d-120d31 */


/* fonts */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(ZXuke1cDvLCKLDcimxB44_luFgxbuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(nwpMtK6mNhBK2err_hqkYhHRqmwqZ-LYxnV18A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html{
  font-size: 22px;
}
body{
  font-family: 'Cabin Condensed',-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(0.8em + 1vw);
  font-size: -webkit-calc(60% + 1vw);
  background-color: #f7ece6;
  border-top: #3472c9 1vh solid;
  margin: 0;
  color: #052a3f;
}

a{
  color: #2d62ad;
  text-decoration-skip-ink: auto;
  text-decoration: currentcolor underline;
}
a:hover{
  color: #3472c9;
}
a:visited{
  color: #533a9e;
}

main{
  max-width: 50rem;
  margin: auto;
}
.items{

}
.item{
  display: block;
  margin: 1rem 0;
}

@supports (display: grid) and (not (-ms-ime-align: auto)) {
  .container{
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];
  }
  .container>*{
    grid-column: main;
  }
  .container-main{
    grid-column: main;
  }
  .container-full{
    grid-column:full;
  }
}

.container img{
  max-width: 100%;
}

.gallery{
  margin-top: 1rem;
  padding: 1rem 0;
  line-height: 0;
  column-width: 20vmax;
  column-gap: 0px;
  /* background-color: #052a3f; */
  display: flex;
  flex-wrap: wrap;
}
.gallery .item {
  margin: 0;
}
.gallery .item img{
  margin: 0;
  padding: 0;
  width: calc(50vw);
  height: calc(50vw);
  object-position: 50% 50%;
  object-fit: cover;
}
@media (min-width: 600px) {
  .gallery .item img{
    width: calc(100vw/3);
    height: calc(100vw/3);
  }
}
@media (min-width: 1200px) {
  .gallery .item img{
    width: calc(100vw/5);
    height: calc(100vw/5);
  }
}


/* Navigation */
.a11y-navigation{
  position: fixed;
  z-index: 100;
  top: 1em;
  left: 1em;
}
.a11y-navigation ul li{
  list-style: none;
}
header{
  margin-bottom: 20vh;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1vh;
  line-height: 1em;
}
header nav li {
  list-style: none;
}
header nav a, header nav a:visited{
  display: block;
  padding: 0.3em 0.3em ;
  text-decoration: none;
  font-family: 'Patua One', Andale Mono, serif;
  color: #052a3f;
  transition: 0.12s color ease-in-out;
}

header nav a:hover{
  text-decoration: underline;
  color: #3472c9;
}
header nav .home a, header nav .current a{
  color: #3472c9;
}
header nav .home a{
  font-size: 140%;
}
@media (max-width: 700px) {
  header{
    margin-bottom: 5vh;
  }
  header nav ul{
    margin: 1em;
    flex-direction: column;
    align-items: flex-start;
  }
}





/* A11Y */
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.sr-show-on-focus:focus{
  z-index: 20;
  width: auto;
  min-width: 10em;
  height: auto;
  clip: auto;
  background-color: #120d31;
  padding: 0.4em 1em;
  color: #fff;
}


/* Typography */
h1, h2, h3, h4, h5{
  font-family: 'Patua One', Andale Mono, serif;
  word-wrap: break-word;
}
h1, .h1, .h-huge {
  font-size: calc(2.8em + 2vw);
  font-size: -webkit-calc(280% + 2vw);
  line-height: 1.1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
h2, .h2 {
  font-size: calc(1.2em + 1vw);
  font-size: -webkit-calc(120% + 1vw);
  line-height: 1.3em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
h3, .h3 {
  font-size: calc(0.9em + 1vw);
  font-size: -webkit-calc(90% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}
h4, .h4 {
  font-size: calc(0.8em + 1vw);
  font-size: -webkit-calc(80% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}


p, ul, ol, pre, table, blockquote {
  line-height: 1.43em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
p + p, p + h2, p + h3, p + ul, ul + p, h2 + p, h3 + ol, h3 + ul, h2 + ol, h2 + ul{
  margin-top: 0.8em;
}
h1 + h2, h2 + h3, h3 + h4{
  margin-top: 0.5em;
}
ul, ol{
  margin-left: 1em;
  padding-left: 0em;
  margin-bottom: 1em;
}
ul li , ol li{
  margin-bottom: 0.3em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

input, textarea, keygen, select, button{
  font-size: 100%;
}

ul li{
  list-style: square;
}
ol li{
  list-style: decimal;
}

hr {
  width: 100%;
  border: 2px solid #052a3f;
  height: 0px;
  margin: 40px 0;
}



section{
  margin-bottom: 3rem;
}

/* Tags */
.tags{
  margin: 1rem 0 0 0;
  display: flex;
  font-size: 70%;
}
.tags li, .tags a{
  list-style: none;
	height:1.4em;
	line-height:1.6em;
	position:relative;
	}
.tags a{
	margin-left:1em;
	padding:0.1em 0.5em 0.1em 0.6em;
	background:#2d62ad;
	color:#fff;
	text-decoration:none;
  border-radius: 0.2em;
	/* border-bottom-right-radius:0.3em;
	border-top-right-radius:0.3em; */
	}
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-0.65em;
	width:0;
	height:0;
	border-color:transparent #2d62ad transparent transparent;
	border-style:solid;
	border-width:0.8em 0.8em 0.7em 0;
	}
.tags a:after{
	content:"";
	position:absolute;
	top:0.65em;
	left:-0.2em;
	float:left;
	width:0.2em;
	height:0.2em;
	border-radius:0.1em;
	background:#fff;
	box-shadow:-1px -1px 2px #004977;
	}

.tags a:hover{background:#3472c9;}
.tags a:hover:before{border-color:transparent #3472c9 transparent transparent;}


/* List-Icons Contact */
.list-icons{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.list-icons li{
  list-style: none;
  text-align: center;
  margin: 1em;
}
.list-icons-center{
  justify-content: center;
  margin: 0;
}

/* Quotes */
blockquote {
  padding: 1rem;
  margin: 2rem 0;
  border: none;
  border: solid 2px #052a3f;
  box-shadow: 10px 10px 0 0 #052a3f;
}
blockquote p, blockquote h1, blockquote h2, blockquote h3, blockquote h4 {
  /* font-family: 'Patua One', Andale Mono, cursive; */

}

/* Footer */
footer.snowy{
  margin-top: 1vh;
  height: 60vh;
  background-color: #3472c9;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
}
.floor_snow_bottom{
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -2.3vh;
  border-width: 2.3vh 0 0 100vw;
  border-color: transparent transparent transparent #f7ece6;
  bottom:0;
  position: relative;
}
.floor_sky_top{
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: 0;
  border-width: 0 0 2.3vh 100vw;
  border-color: transparent transparent transparent #f7ece6;
  top:0;
  position: absolute;
}
.floor_snow_2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20vh 0 0 100vw;
  border-color: transparent transparent transparent #3C85EA;
  position: absolute;
  bottom:0;
}
.floor_snow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.3vh 0 0 100vw;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  bottom:0;
}
.floor_snow_top{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1vh 0 0 100vw;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  bottom:0;
}
.snowman{
  position: absolute;
  right:10vh;
  bottom:0vh;
  font-size: 10vh;
  line-height: 8vh;
}
.footer_links{
  background-color: #fff;
  padding-bottom: 2vh;
}

/* Embed responsive */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive iframe{
  /* border: 1px solid #3472c9; */
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.6);
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 150px;
}
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive, .modal, .modal-open, .progress {
    overflow: hidden;
}
