{{ partial "head.html" . }}
<body>
  {{ if .Site.Params.mainMenu }}
    {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
  {{ end }}
  <main class="container">
    <h1>
        {{ .Title }}
    </h1>
    <h2>
      {{ .Description }}
    </h2>
    <section>
      <h3>
        {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} &#183; {{ .WordCount }} words
        {{ with .Params.tags }}
        <ul class="tags">
          {{ range . }}
          <li class="tag">
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">
              {{.}}
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </h3>
    </section>
    <section>
      {{ .Content }}
    </section>
  </main>
  <footer class="footer">
    {{ partial "footer.html" . }}
  </footer>
</body>
{{ partial "foot.html" . }}
