{{ partial "head.html" . }}
<body>
  {{ if .Site.Params.mainMenu }}
    {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
  {{ end }}
  <main class="container">
    <h1>
      {{ .Title }}
    </h1>
    <h2>
      {{ .Description }}
    </h2>
    <section>
      {{ .Content }}
    </section>
    <section>
      <div class="items">
        {{ range .Data.Pages }}
          <a class="item thought" href="{{.Permalink}}">
            <h3>
              {{.Title}}
            </h3>
            <p>
              {{ if .Params.event }}
                {{ .Params.event }} –
              {{ end }}
              {{ if .Params.location }}
                {{ .Params.location }} –
              {{ end }}
              {{ if .Params.showDate }}
              {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}}
              {{ end }}
              {{ if .Params.speakers }}
                – by {{ .Params.speakers }}
              {{ end }}
            </p>
          </a>
        {{ end }}
      </div>
    </section>
  </main>
  <footer class="footer">
    {{ partial "footer.html" . }}
  </footer>
</body>
{{ partial "foot.html" . }}
