{{ partial "head.html" . }}
<body>
  {{ if .Site.Params.mainMenu }}
    {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
  {{ end }}
  <main class="container">
    <h1>
      {{ .Title }}
    </h1>
    <h2>
      {{ .Description }}
    </h2>
    <section>
      {{ .Content }}
    </section>
    <section class="container-full">
      <div class="items grid-items">
        {{ range .Data.Pages }}
          <div class="item">
            <a href="{{.Permalink}}">
              <h2>
                {{.Title}}
              </h2>
            </a>
            <p>
              {{ if .Description }}
                {{ .Description  | safeHTML | truncate 100 }}
              {{ end }}
              {{ if .Params.event }}
              {{ .Params.event }} –
              {{ end }}
              {{ if .Params.location }}
              {{ .Params.location }}
              {{ end }}
            </p>
              {{ if .Params.link }}
              <small>🌍 <a href="{{ .Params.link }}">{{ .Params.link | truncate 80 }}</a></small>
              {{ end }}
              
            {{ with .Params.tags }}
            <ul class="tags">
              {{ range . }}
              <li class="tag">
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">
                  {{.}}
                </a>
              </li>
              {{ end }}
            </ul>
            {{ end }}  
              
            </div>
            
            {{ end }}
          </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    {{ partial "footer.html" . }}
  </footer>
</body>
{{ partial "foot.html" . }}
